/* selettore per il body */
body {
    margin: 0;
}

/* selettore per la section dell'header */
#instestazione {
    height: 135px;
    background-color: rgba(156, 214, 244, 255);
}

/* selettore per l'img del logo nell'header */
#logo {
    height: 50px;
    padding: 40px 20px;
}

/* selettore per l'h1 del titolo */
h1 {
    font-size: 38px;
    margin: 0px;
    padding-top: 30px;
}

/* selettore per il p del sottotitolo */
.sottotitolo {
    margin: 0px;
    color: rgba(136, 128, 128, 255);
}

/* selettore per lo span con colorazione */
.colorato {
    color: rgba(78, 176, 255, 255);
}

/* selettore per le section dell'articolo */
.articolo {
    margin-left: 20px;
}

/* selettore per il div delle foto */
#foto {
    margin-top: 20px;
}

/* selettore per il p della didascalia delle foto */
.didascalia {
    margin: 0;
    font-size: 12px;
}

/* selettore per lo span con evidenziatura */
.evidenziato {
    background-color: rgba(255, 255, 0, 255);
}

/* selettore per la lista nel testo */
.lista {
    padding: 18px;
}

/* selettore per la tabella */
#tabella {
    width: 100%;
}

/* selettore per tutte le colonne di intestazione della tabella */
th {
    color: white;
    background-color: rgba(127, 166, 251, 255);
}

/* selettore per le prime due colonne */
.colonna-tipo1 {
    width: 460px;
    text-align: left;
}

/* selettore per le righe dispari della tabella */
.riga-dispari {
    background-color: rgba(223, 229, 242, 255);
}

/* selettore per il div del footer */
#chiusura {
    margin-top: 40px;
    height: 50px;
    background-color: rgba(49, 58, 107, 255);
}

/* selettore per il p nel footer */
.copyright {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 13px;
}