/* selettore per la section dell'header */
#instestazione {
    height: 135px;
    background-color: rgba(156, 214, 244, 255);
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position-x: 2%;
    background-position-y: 45%;
}

/* selettore per l'h1 del titolo */
h1 {
    font-size: 38px;
    margin: 0px;
    padding-top: 30px;
}

/* selettore per il p del sottotitolo */
.sottotitolo {
    margin: 0px;
    color: rgba(136, 128, 128, 255);
}

/* selettore per lo span del sottotitolo */
.Booleaner {
    color: rgba(78, 176, 255, 255);
}

/* selettore per le section dell'articolo */
.articolo {
    margin-left: 20px;
}

/* selettore per il div delle foto */
#foto {
    margin-top: 20px;
}

/* selettore per il p della didascalia delle foto */
.didascalia {
    margin: 0;
    font-size: 12px;
}